h1,
h2,
h3,
p,
ol,
ul,
body {
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.heading {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    background-color: azure;
    padding: 10px;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    counter-reset: counter;
}

.task-list__item {
    counter-increment: counter;
}

.task-list__item:nth-child(3) {
    counter-reset: counter 4;
}

.task-list__item::before {
    content: counter(counter);
    margin-right: 5px;
    font-weight: bold;
}

.task-list__item:nth-child(even) {
    background-color: #60ffa757;
}

.list-mark__item::before {
    content: "";
    padding-left: 40px;
    background-image: url(icon.svg);
    background-size: 19px;
    background-repeat: no-repeat;
    min-height: 24px;
    background-position: left;
}